/.vscode/
.DS_Store
*.log

# Python
venv*/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/

# Flask / general
catalogos/data.sqlite3
catalogos/*.pyc
catalogos/*.pyo
catalogos/__pycache__/
catalogos/.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# IDE/editor
.idea/
